<!--- Header and nav template site-wide -->
<header>
    <nav class="group">
        <ul class="topnav" style="float:left">
            <!-- <h1><a style="padding-top:.5em" href="{{site.baseurl}}/"><strong>Sida (Star) Li</strong></a></h1> -->
            <h1 style="padding-top:.5em; color: #a00000; margin-bottom: 0;"><strong>Sida (Star) Li</strong></h1>
        </ul>
	<ul class="topnav">    
        <li><a class="right" href="{{site.baseurl}}/">Home</a></li>
        {% assign pages = site.pages | sort:"weight" | reverse %}
	{% for node in pages %}
            {% if node.title %}
            {% unless node.nav_exclude %}
	        {% if page.url == node.url %}
                <li><a class="active right" href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a></li>
	        {% else %}
                <li><a class="right" href="{{node.url | prepend: site.baseurl}}">{{node.title}}</a></li>
	        {% endif %}
	    {% endunless %}
            {% endif %}
  	{% endfor %}
        <li><a class="right" href="https://drive.google.com/file/d/1aiFLVKPApS3RJpA72mDmXxmZirLF6Lv0/view?usp=sharing">cv</a></li>
	</ul>
	</nav>
        <hr class="slender">
</header>
